<footer class="ctp-footer" ng-click='footerClick()'>
  <div class='container mt-5'>
    <div class="row mb-3 pt-5">      
      <div class="col-lg-2">
        <h5 class="ctp-footer__heading">Testing 1</h5>
        <ul class="ctp-footer__links list-links list-unstyled">
          <li><a target="_blank" href="">Test1</a></li>
          <li><a target="_blank" href="">Test1</a></li>
          <li><a target="_blank" href="">Test1</a></li>
          <li><a target="_blank" href="">Test1</a></li>
          <li><a target="_blank" href="">Test1</a></li>
          <li><a target="_blank" href="">Test1</a></li>
          <li><a target="_blank" href="">Test1</a></li>
        </ul>
      </div>

      <div class="col-lg-2">
        <h5 class="ctp-footer__heading">More testing</h5>
        <ul class="ctp-footer__links list-links list-unstyled">
          <li><a target="_blank" href="">Test2</a></li>
          <li><a target="_blank" href="">Test2</a></li>
          <li><a target="_blank" href="">Test2</a></li>
          <li><a target="_blank" href="">Test2</a></li>
          <li><a target="_blank" href="">Test2</a></li>
          <li><a target="_blank" href="">Test2</a></li>
          <li><a target="_blank" href="">Test2</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
